.auto-style1 {
    width: 100%;
}

#Select1 {
    width: 321px;
}

.auto-style2 {
    width: 330px;
    height: 80px;
}

#Text1 {
    width: 165px;
}

#Text2 {
    width: 166px;
}

.auto-style3 {
}

.auto-style4 {
    vertical-align: bottom;
}

.auto-style5 {
}

.auto-style6 {
    width: 130px;
}

#Text6 {
    width: 670px;
    height: 20px;
}

#Select2 {
    width: 321px;
}

#Select2 {
    width: 564px;
    height: 15px;
}

#Text4 {
    width: 170px;
}

#Text7 {
    width: 232px;
}

#Select3 {
    width: 321px;
}

#Select3 {
    width: 273px;
    height: 15px;
}

#Text8 {
    width: 675px;
}

#Text9 {
    width: 165px;
}

.auto-style8 {
    width: 250px;
}

.auto-style9 {
    width: 190px;
}

.auto-style11 {
    width: 345px;
}

.auto-style13 {
    width: 247px;
}

.auto-style14 {
    width: 248px;
}

.auto-style15 {
    width: 230px;
}

#Text3 {
    width: 159px;
}

#Text5 {
    width: 161px;
}

.auto-style16 {
    width: 111px;
}
